@model IEnumerable<Asignaciones>
@{
    ViewData["Title"] = "Asignaciones";
}

<a asp-action="CrearAsignacion" class="btn btn-primary mb-3">Nuevo</a>

<table class="Table">
    <thead>
        <tr>
            <th>Funciones</th>
            <th>Ensamble</th>
            <th>Id Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignaciones in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary">Editar</a>
                </td>
                <td>
                    @asignaciones.Assembly_idAssembly
                </td>
                <td>
                    @asignaciones.Person_idPerson
                </td>
            </tr>
        }
    </tbody>
</table>